/*************************************************** 
    HEADER SECTION
****************************************************/

header img {
    height: 35px;
}




/*************************************************** 
    MAIN SECTION
****************************************************/

main {
    height: calc(100vh - 61.5px);
    
}

#myContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.imageContainer {
    height: 500px;
    width: 800px;  
    display: none;
    border-radius: 10px;
    position: relative;
    
}

.active {
    display: block;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.image-info {
    position: absolute;
    bottom: 15px;
    right: 15px;
    text-align: right;
}

.image-title {
    font-weight: bold;
    font-size: 30px;
}

.image-text {
    font-size: 20px;
}

.generalButton {
    position: absolute;
    border-radius: 50%;
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    z-index: 1;
    cursor: pointer;
    top: 50%;
}

.generalButton:hover {
    color: grey;
    transition: all .2s ease-in-out;
}

.backwardButton {
    left: 30%;
    
}

.forwardButton {
    right: 30%;
}


/*************************************************** 
    FOOTER SECTION
****************************************************/













/*************************************************** 
    RESPONSIVE LAYOUT
****************************************************/

/********************* 
    SMALL (sm) (>576px)
**********************/
@media screen and (min-width: 576px) {

}



/********************* 
    MEDIUM (md) (>768px)
**********************/
@media screen and (min-width: 768px) {
    
}



/********************* 
    LARGE (lg) (>992px)
**********************/
@media screen and (min-width: 992px) {
    
}




/********************* 
    EXTRA LARGE (xl) (>1200px)
**********************/
@media screen and (min-width: 1200px) {
    
}




/********************* 
    EXTRA EXTRA LARGE (xxl) (>1400px)
**********************/
@media screen and (min-width: 1400px) {
    
}


